{% extends "base.html" %}

{% block css %}
{# Color to show text to be show to the end user #}
{% set color_user_label = "lemonchiffon" %}

{# Color to show text to be show internaly #}
{% set color_internal_label = "lavender" %}

<style>

.bg-gray {
    background-color: #DDD;
}

.question-label {
    font-weight: bold;
}

.question-head > h4 {
    display: inline !important;
}

.user-label {
    padding: .1em .3em;
    border-radius: .3em;
    display: inline-block;
    background-color: {{color_user_label}};
}

.comment, .comment .list-group-item {
    background-color: {{ color_internal_label }};
    border: 0;
}

.comment .list-group-item { 
    padding: .1em .8rem;
    font-size: .8rem;
    color: #999;
}

.description, .description .list-group-item {
    background-color: {{color_user_label}};
    font-size : .9rem;
}

.description .list-group-item {
    padding: .1em .8rem;
    border: 0;
}

.rules .list-group-item {
    padding: .1em .8rem;
}

.question-block {
    margin-top: .3rem;
}

.badge-local-key {
    color: #999;
}

.question-block > h6 {
  margin: 0;
  margin-left: 1em;
  padding: .4em;
  font-size: .8rem;
  color: darkgrey;
  font-weight: bold;
}

.table-compact {
    width: fit-content;
}

.responses td {
 padding: .1rem;
 padding-top: .2rem;
}
</style>
{% endblock %}

{% macro render_item_columns(q1, q2, name) %}
<div class="row m-1">
      <div class="col m-1 prop prop-legacy rounded">{% if q1 %}{{ attr(q1, name) }}{% endif %}</div>
     <div class="col m-1 prop prop-survey rounded">{% if q2 %}{{ attr(q2, name) }}{% endif %}</div>
</div>
{% endmacro %}

{% macro render_block(q1, q2, name, title='') %}
<h4 class="ml-2">{% if title != '' %}{{ title }}{% else %}{{ name  }}{% endif %}</h4>
{{ render_item_columns(q1, q2, name) }}
{% endmacro %}

{% macro badge(v, type, title="") %}
 <span class="badge badge-{{type}}" {% if title != ""%} title="{{ title }}"{%endif%}>{{ v }}</span>
{% endmacro %}

{% macro icon(name, extra='') %}
 <i class="fas fa-{{name}} {{extra}}"></i>
{% endmacro %}

{% macro order_badge(order) %}
 {{ badge( icon('sort') ~ ' ' ~ order, 'default') }} 
{% endmacro %}

{% macro local_key_badge(key) %}
 {{  badge('#' ~ key, 'local-key', title="Local key, this is a local identifier not to be used in the target survey implementation") }} 
{% endmacro %}

{% macro user_label(label) %}
 <span class="user-label">{{ label }}</span>
{% endmacro %}

{% macro common_key_badge(key) %}
 {{  badge( icon('key') ~ ' ' ~ key, 'danger') }} 
{% endmacro %}

{% macro render_list(list, klass) %}
<ul class="list-group list-group-flush {{ klass }}">
{% for item in list %}
    <li class="list-group-item">{{ item }}</li>
{% endfor %}
</ul>
{% endmacro %}

{% macro render_comment(comment) %}
{% if comment %}
 {{ render_list(comment, 'comment') }}
{% endif %}
{% endmacro %}

{% macro render_description(desc) %}
{% if desc %}
 {{ render_list(desc, 'description user-label') }}
{% endif %}
{% endmacro %}

{% macro render_platforms(list) %}
<ul class="list-unstyled d-inline">
{% for item in list %}
    <li> {{ badge(item, 'primary') }}</li>
{% endfor %}
</ul>
{% endmacro %}


{% macro render_responses(responses) %}
     <table class="table table-compact table-sm">
      {% for r in responses.values() %}
       <tr>
        <td>{{ common_key_badge(r.value) }}</td>
        <td>{{ order_badge(r.order) }}</td>
        <td>{{ user_label(r.text) }}</td>
        <td>
            {{ render_comment(r.comment) }} 
        </td>
        <td>{{ local_key_badge(r.key)}}</td>
        <td>{% if r.platforms%} {{ render_platforms(r.platforms) }}{%endif%}</td>
         {% if r.added_at%} Added at {{ r.added_at }}{% endif %}
         {% if r.removed_at%} Removed at {{ r.removed_at }}{% endif %}
        </td>
       </tr>  
      {% endfor %}
    </table>
{% endmacro %}

{% macro render_matrix_dim(dims) %}
    <table class="table table-compact table-sm">
    {% for d in dims.values() %}
    <tr>
        <td>{{ common_key_badge(d.value) }}</td>
        <td>{{ user_label(d.text) }}</td>
        <td>{{ order_badge(d.order) }}</td>
        <td>{{ local_key_badge(d.key) }}</td>
        <td>
            {{ render_comment(d.comment) }} 
        </td>
    </tr>
    {% endfor %}
    </table>
{% endmacro %}


{% block survey %}
<H1>Survey {{survey.name}}</h1>
<div>JSON Version {{version}}, built on {{build_date}}</div>
{# Explain layout #}
<p class="comment">This file describes the survey design at a high level defining elements to enable data sharing and common elements. Legend of element is presented at the bottom of this file. <a href="https://influenzanet.github.io/surveys-standards/docs/survey_description">Documentation is also available</a> </p>
{# questions #}
{% for quid in survey.questions %}
<div class="question card">
    {% set question = survey.questions[quid] %}
    <div class="card-header {%if question.active %}bg-info{% else %}bg-gray{%endif%} question-head text-white"> 
        <h4>{{ quid }}</h4> 
        {{ badge(icon('cubes') ~ ' ' ~ question.type, 'warning') }}
        {{ icon('sort')}} {{ question.order }}
        {% if question.mandatory %}{{ icon('mandatory', 'danger') }} {% endif %}
        {% if question.target %}{{ badge(icon('bullseye') ~ question.target, 'primary') }} {% endif %}
        {% if not question.active %}{{ badge(icon('eye-slash') ~ " Inactive", 'danger') }}{% endif %}
        {% if question.added_at%} Added at {{ question.added_at }}{% endif %}
        {% if question.removed_at%} Removed at {{ question.removed_at }}{% endif %}
    </div>
    <div class="card-body p-1 container-fluid">
    <div class="question-label">{{ user_label(question.title) }}</div>
    
    {% if question.description %}
    <div class="card description question-block w-75">
    <h6>Description</h6>
    {{  render_description(question.description) }}
    </div>
    {% endif %}
    {% if question.format %} 
        <div class="card format question-block w-75">
        <h6>Format</h6>
            {{ question.format }}
        </div>
    {% endif %}
    {% if question.data_type %} 
        <div class="card format question-block w-75">
        <h6>Data type of data input(s)</h6>
            {{ question.data_type }}
        </div>
    {% endif %}
    {%if question.comment %}
        <div class="card comment question-block w-75">
        <h6>Comment</h6>
            {{ render_comment(question.comment) }}
        </div>
    {% endif %}
    {% if question.responses %}
        <div class="card responses question-block w-75">
        <h6>Responses</h6>
        {{ render_responses(question.responses) }}
        </div>
    {% endif %}
    
    {% if question.rows or question.matrix %}
    <div class="row">
        <div class="col">
        {% if question.rows %}
            <div class="card matrix-dim question-block">
            <h6>Rows</h6>
            {{ render_matrix_dim(question.rows) }}
            </div>
        {% endif %}
        </div>
        <div class="col">
        {% if question.columns %}
            <div class="card matrix-dim question-block">
            <h6>Columns</h6>
            {{ render_matrix_dim(question.columns) }}
            </div>
        {% endif %}
        </div>
    <div>
    {% endif %}
    {% if question.rules %}
        <div class="card rules question-block">
        <h6>Rules</h6>
        {{ render_list(question.rules) }}
        </div>
    {% endif %}
    {%if question.platforms %}
        <div class="card platforms question-block w-75">
        <h6>Platforms implementing this question</h6>
            {{ render_list(question.platforms) }}
        </div>
    {% endif %}
   </div> {# card-body #}
</div> {# question #}
{% endfor %}

<h3>Legend</h3>
<ul class="list-group">
    <li class="list-group-item">{{ badge(icon('bullseye', 'info')) }} : Target of the question (all platforms or optional)</li>
    <li class="list-group-item">{{ order_badge('x') }} : Indicate order of an element in the list</li>
    <li class="list-group-item">{{ local_key_badge('x')}} : Indicate a local identifier to be used only to refer to this element in this document. Don't use this to identify this element in a platform, use the {{ common_key_badge('key') }}</li>
    <li class="list-group-item">{{ common_key_badge('x') }} : Value or key identifier, to be used in the survey definition. This value will be used to identify this element across platforms.</li>
    <li class="list-group-item">{{ user_label('label') }} : Text to be shown to the enduser (after translation)</li>
    <li class="list-group-item"><span class="comment">Comment</span> Text targeting internal use only (comments about implementation)
</ul>
{% endblock %}